<h3 style="text-align: center;">Employee Table</h3>

<app-department ></app-department>

<button (click)="newEmployee()" style="margin-left: 205px;">Employee add</button>


<table class="table table-striped table-bordered border-dark table-hover" style="width: 900px; margin-left:200px; margin-top: 20px; border: 1px solid black;">

    <tr style="background-color: black; color: aliceblue;">
        <th   scope="col">Employee No</th>
        <th  scope="col">Employee Name</th>
        <th  scope="col">Job</th>
        <th  scope="col">Hire Date</th>
        <th  scope="col">Manager ID</th>
        <th  scope="col">Salary</th>
        <th  scope="col">Commission</th>
        <th  scope="col">Department No</th>
        
    </tr>

    <tr *ngFor ="let emp of employees" >
        <td>{{emp.empno}}</td>
        <td>{{emp.ename}}</td>
        <td>{{emp.job}}</td>
        <td>{{emp.hireDate}}</td>
        <td>{{emp.managerId}}</td>
        <td>{{emp.salary | currency:'INR' }} </td>
        <td>{{emp.commission}}</td>
        <td>{{emp.deptNo}}</td>
    </tr>

</table>
