
<h3 style="text-align: center;">New Employee</h3>

<form   style=" margin-left:500px; margin-top: 10px;">

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Employee No</label>
        <div class="col-sm-10">
            <input type="text" name="empno" >
    
        </div>
        </div>
        <div class="form-group row">
        <label class="col-sm-2 col-form-label">Employee Name</label>
        <div class="col-sm-10">
            <input type="text" name="ename" >
    
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Job</label>
        <div class="col-sm-10">
            <input type="text" name="job">
    
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Hire Date</label>
        <div class="col-sm-10">
            <input type="Date" name="hireDate" >
    
        </div>
    </div>
    
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Manager ID</label>
           <div class="col-sm-10">
            <input type="number" name="managerId" >
           </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Salary</label>
           <div class="col-sm-10">
            <input type="number" name="salary" >
           </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Comission</label>
           <div class="col-sm-10">
            <input type="number" name="commission" >
           </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Comission</label>
           <div class="col-sm-10">
            <app-department></app-department>
           </div>
    </div>

    

  
    
    <div class="form-group row">
      <div class="col-sm-2"><button type="submit">Save</button></div>
      <div class="col-sm-2"><button type="reset">Reset</button></div>
    </div>

    <a routerLink="/">Home</a>
    
    </form>
