
<h3 style="text-align: center;">New Department</h3>

<form   style=" margin-left:500px; margin-top: 10px;">

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Deparment No</label>
        <div class="col-sm-10">
            <input type="number" name="deptNo" >
    
        </div>
        </div>
        <div class="form-group row">
        <label class="col-sm-2 col-form-label">Deparment Name</label>
        <div class="col-sm-10">
            <input type="text" name="depName" >
    
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Location</label>
        <div class="col-sm-10">
            <input type="text" name="location">
    
    </div>
    </div>

    

  
    
    <div class="form-group row">
      <div class="col-sm-2"><button type="submit">Save</button></div>
      <div class="col-sm-2"><button type="reset">Reset</button></div>
    </div>

    <a routerLink="/">Home</a>
    
    </form>
